body {
    padding: 0!important;
    margin: 0!important;
}
.navbar {
    background-color: #203345;
    color: white;
}
.navbar-nav {
    display: flex;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
}
.navbar-light .navbar-nav .active>.nav-link {
    border-top: rgb(53, 204, 255) 2px solid;
    text-align: left;
    width: 60%;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
