body {
    padding: 0;
    margin: 0;
    background-color: #152535;
    overflow-x: hidden;
}
p{
    font-family: 'Poppins', sans-serif;
}
h1,h2{
    font-family: 'Josefin Sans', sans-serif;
}
.container-fluid {
    padding: 0!important;
    margin: 0!important;
}

/*navbar*/

.navbar {
    background-color: #203345;
    color: white;
}
.logo img{
    width: 100px;
    height: 100%;
}
.navbar-nav {
    display: flex;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
}
.navbar-light .navbar-nav .active>.nav-link {
    border-top: rgb(53, 204, 255) 2px solid;
    text-align: left;
    width: 60%;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.search{
    border: none;
    height: 40px;
    color: white;
    border-radius:5%;
    background-color: #152535;
    transition: all 1s;
}
.icon{
    position: relative;
    top: 3px;
    right: 40px;
    color: gray;
}
.account, .account:hover{
    color: white;
    padding-right: 4%;
}


/*banner*/
.banner {
    height: 100vh;
}
.content p {
    color: lightgray;
    font-size: 18px;
}
button .material-icons {
    position: relative;
    top: 5px;
}
.poster {
    left: 2%;
}



/*fan-favourite*/
.heading {
    color: whitesmoke;
    border-left: thick solid whitesmoke;
    border-block-style: solid;
}
.section img {
    width: 300px;
    height: 180px;
    border-radius: 2%;
    box-shadow: 0 0 8px 0 #000000;
}



/*languages*/
.language img {
    width: 150px;
    height: 150px;
}



/*top rated*/

.rated img {
    margin-left: 2%;
    border-radius: 2%;
}
.rated .material-icons {
    color: yellow;
}



/*footer*/
.footer{
    margin-top: 5%;
    background-color: #203345;
    color: gray;
}
.icon-wrapper {
    display: flex;
}
.icon-wrapper img {
    margin-right: 15%;
    width: 20px;
    height: 20px;
    border-radius: 10%;
}
.links{
    padding: 0 20%;
}
.logo img{
    width: 150px;
    height: 40px;
}




/*page2 banner*/
.detail {
}
.detail_heading{
    color: whitesmoke;
}
.detail_content{
    color: gray;
}
.detail_content .material-icons {
    color: yellow;
}
.table {
    color: gray;
}



/*Media-queries*/
@media screen and (max-width: 1000px) {
    .poster_img {
        display: none;
    }
    .content p{
        font-size: 14px;
    }
    .banner {
        height: 70vh;
    }
    .table {
        font-size: 12px;
    }
    .hide{
        display: none;
    }
    .rated h3{
        font-size: 18px;
    }
}



/*card-css*/

:root {
    --clr-dark: #3c3c3c;
    --clr-gray: #9c9c9c;
    --clr-light: #203345;
    --transition: all .2s ease;
}

.card {
    position: relative;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    transition: var(--transition);
}
.card-body {
    padding: 0!important;
}
.card:hover {
    transform: scale(1.23);
    z-index: 10;
}
.card .card-image {
    position: relative;
    width: 100%;
}

/* Card Footer */
.card-footer {
    display: flex;
    position: absolute;
    height: 200px;
    bottom: 5px;
    width: 100%;
    border-radius: 5%;
    background: var(--clr-light);
    align-items: center;
    transition: var(--transition);
    visibility: hidden;
}
.card-footer__info {
    /*padding: 5px;*/
}
.card-footer__title {
    justify-content: space-around;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.card-footer__info small {
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    color: gray;
}
.card:hover .card-footer {
    bottom: -75px;
    box-shadow: 0 15px 12px -7px rgba(0, 0, 0, .1);
    z-index: -2;
    visibility: visible;
}

/*Effect 3*/
.card.effect3 .card-header, .card.effect3 .card-footer {
    left: 15px;
    right: 15px;
    height: 120px;
    width: calc(100% - 30px);
}
.card.effect3:hover .card-footer {
    bottom: -120px;
}
