body {
    padding: 0;
    margin: 0;
    background-color: #152535;
    overflow-x: hidden;
}
.container-fluid {
    padding: 0!important;
    margin: 0!important;
}
.navbar {
    background-color: #203345;
    color: white;
}
.logo img{
    width: 100px;
    height: 100%;
}
.navbar-nav {
    display: flex;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
}
.navbar-light .navbar-nav .active>.nav-link {
    border-top: rgb(53, 204, 255) 2px solid;
    text-align: left;
    width: 60%;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.search{
    border: none;
    height: 30px;
    color: white;
    border-radius: 2%;
}
.icon{
    position: relative;
    top: 3px;
    right: 40px;
    color: whitesmoke;
}
.account, .account:hover{
    color: white;
    padding-right: 4%;
}
.content p {
    color: lightgray;
    font-size: 18px;
}
button .material-icons {
    position: relative;
    top: 5px;
}
.poster {
    left: 2%;
}
.section {
    margin-left: 5%;
}
.heading {
    color: whitesmoke;
    border-left: thick solid whitesmoke;
    border-block-style: solid;
}
.section img {
    width: 300px;
    height: 80%;
    border-radius: 2%;
    box-shadow: 0 0 8px 0 #000000;
}
.language {
    margin-left: 5%;
}
.language img {
    width: 100px;
    height: 50%;
}
@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
